.app {
  display: flex;
  justify-content: center;
}
.content {
  padding: 100px;
  width: 656px;
  display: flex;
  flex-direction: column;
}
.content > h1 {
  font-size: 32px;
  line-height: 38px;

  color: #64697f;
}